* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


canvas {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#generate-btn {
    width: 15vw;
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    left: 0;
    bottom: 3%;
    z-index: 10;
    left: 50%;
    transform: translate(-50%,0);
    padding: 20px, 30px;
    border-radius: 50px;
    background: brown;
    color: black;
    font-size: 20px;
    overflow: hidden;
}